/**
Zeigt die bestell Website im Desktop format
 */
@media (orientation: landscape) {
    .bestellung{
        background-image: url("imageSrc/Hintergrund.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .container{
        width: 100%;
        height: 100%;
        font-family: "Courier", "Arial";
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 15% 80% 5% ;

    }
    header{
        grid-column-start: 1;
        grid-column-end: 3;
        top: auto;
        text-align: center;

    }
    .speisekarte{
        grid-column-start: 1;
        grid-column-end: 2;
        overflow-y: scroll;
        scrollbar-width: thin;
        margin-right: 20%;
    }
    ::-webkit-scrollbar{
        width: 12px;
    }
    ::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb{
        -webkit-box-shadow: inset 0 0 6px rgb(105,105,105);
        background: dimgray;
    }
    .bild{
        width: 45%;
        height: 35%;
    }
    .orderItems{
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 120%;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 20%;
    }
    .card{
        color: white;
        background-color: transparent;
        width: 100%;
        text-align: center;
        width: 100%;
        font-size: 100%;
    }
    input{
        width: 100%;
        background-color: dimgray;
        color: white;
    }
    .button{
        font-family: "Courier";
        text-align: center;
        color: white;
        font-size: 80%;
    }
    .button:hover{
        background-color: dodgerblue;
        color: black;
        text-align: center;
    }
    input[type=text]{
        font-size: 120%;
        background-color: dimgray;opacity: 0.6;
    }
    input[type=submit]{
        font-size: 120%;
    }
    footer{
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
    }
}
/**
Zeigt die Bestell Seite im Smartphone modus
 */
@media (orientation: portrait) {
    .bestellung{
        background-image: url("imageSrc/Hintergrund_port.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .container{
        width: 100%;
        height: 100%;
        font-family: "Courier", "Arial";
        color: white;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 10% 45% 43%  2% ;

    }

    header{
        grid-column-start: 1;
        grid-column-end: 2;
        top: auto;
        text-align: center;
        font-size: 150%;

    }
    .speisekarte{
        grid-column-start: 1;
        grid-column-end: 2;
        overflow-y: scroll;
        font-size: 170%;
        text-transform: uppercase;
        scrollbar-width: thin;
        margin-right: 5%;
    }
    ::-webkit-scrollbar{
        width: 12px;
    }
    ::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb{
        -webkit-box-shadow: inset 0 0 6px rgb(105,105,105);
        background: dimgray;
    }
    .bild{
        width: 35%;
        height: 25%;
    }
    .pizza{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .orderItems{
        grid-column-start: 1;
        grid-column-end: 2;
        font-size: 200%;
        margin-right: 10%;
        margin-left: 10%;
    }
    .card{
        color: white;
        background-color: transparent;
        width: 100%;
        text-align: center;
        font-size: 100%;

    }
    .total{
        font-weight: bold;
    }
    input{
        display: inline-block;
        
        width: 100%;
        background-color: dimgray;
        color: white;
    }
    .button{
        font-family: "Courier";
        text-align: center;
        color: white;
        font-size: 80%;
    }
    .button:hover{
        background-color: dodgerblue;
        color: black;
        text-align: center;
    }
    input[type=text]{
        font-size: 120%;
        background-color: dimgray;opacity: 0.6;
    }
    input[type=submit]{
        font-size: 120%;
    }
    footer{
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
        font-size: 115%;
        background-color: black;
    }
}