/**
Layout für smartphone
 */
@media (orientation: portrait) {
    body{
        background-image: url("imageSrc/Hintergrund_port.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        color: #eeeeee;
        font-family: Courier,Arial, SansSerif;
    }
    header{
        text-align: center;
        font-size: 1.5em;
        background-color: bisque; opacity: 0.5;
        border-radius: 1em 1em 1em 1em ;
        width: 100%;
    }

    .speisekarte{
        text-align: center;
        height: 60em;
        overflow: auto;
        background-color: bisque;
        border-radius: 1em 1em 1em 1em;
        padding-left: 1em;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 1.2em;

    }

    .bild{
        width: 35%;
        height: 25%;
    }

    .pizza{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .orderItems{
        background-color: bisque;
        border-radius: 1em 1em 1em 1em;
        padding-left: 1em;
        font-size: 2em;
        margin-bottom: 10%;
        padding-bottom: 1em;
        padding-right: 1em;
    }
    .card{
        color: black;
        background-color: transparent;
        width: 100%;
        text-align: center;
        font-size: 100%;

    }
    .total{
        font-weight: bold;
    }
    .button{
        font-family: "Courier";
        text-align: center;
        color: white;
        font-size: 0.9em;
    }
    .button:hover{
        background-color: dodgerblue;
        color: black;
        text-align: center;
    }
    input[type=text]{
        font-size: 120%;
        background-color: dimgray;opacity: 0.6;
    }
    input[type=submit]{
        font-size: 1em;
    }
    input{
        display: inline-block;

        width: 100%;
        background-color: dimgray;
        color: white;
    }


    footer{
        position: fixed;
        bottom: 0;
        text-align: center;
        width: 100%;
        background-color: bisque;
        border-radius: 1em 1em 1em 1em;
    }
}

/**
Layout für Desktop
 */
@media (orientation: landscape) {
    header {
        text-align: left;
        color: rgb(0,0,0);
        font-size: large;
        /*background-color: bisque; opacity: 0.5;*/
        border-radius: 1em 1em 1em 1em;
        padding-left: 1em;
        width: 100%;
        color: white;
    }

    body{
        background-image: url("imageSrc/Hintergrund.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        color: white;
        font-family: Courier,Arial, SansSerif;
        margin: 0%;
    }

    nav{
        margin-left: 5rem;
        margin-right: 5rem;

    }

    .navElement{
        background-color: dimgray;
        border-radius: 1em 1em 1em 1em;
        padding-right: 2em;
        padding-left: 2em;
        margin-right: 5rem;
        margin-left: 5rem;
        text-align: center;
        font-weight: bold;
        color:white;
    }

    .speisekarte{
        width: 45%;
        height: 49em;
        overflow: auto;
        float: left;
        text-align: center;
        /*background-color: bisque;*/
        border-radius: 1em 1em 1em 1em;
        padding-left: 1em;
        scrollbar-width: thin;
        margin-bottom: 3rem;
        margin-top: 2rem;

    }
    ::-webkit-scrollbar{
        width: 12px;
        margin: 1rem;
    }
    ::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb{
        -webkit-box-shadow: inset 0 0 6px rgb(105,105,105);
        background: dimgray;
    }

    .orderItems{
        width: 45%;
        height: 49em;
        float: right;
        /*background-color: bisque;*/
        border-radius: 1em 1em 1em 1em;
        padding-left: 1em;
        padding-right: 5rem;

    }
    .card{
        background-color: transparent;
        width: 100%;
        text-align: center;
        width: 100%;
        font-size: 100%;
        color: white;
    }

    input{
        width: 100%;
        background-color: dimgray;
        color: white;
    }

    .button{
        font-family: "Courier";
        text-align: center;
        color: white;
        font-size: 80%;
    }
    .button:hover{
        background-color: dodgerblue;
        color: black;
        text-align: center;
    }

    input[type=text]{
        font-size: 120%;
        background-color: dimgray;opacity: 0.6;
    }

    input[type=submit]{
        font-size: 120%;
    }

    footer{
        clear: both;
        position: fixed;
        bottom: 0;
        text-align: center;
        width: 100%;
        /*background-color: bisque;*/
        border-radius: 1em 1em 1em 1em;
    }
}

/**
Layout zum drucken
 */
@media print {
    header{
        text-align: center;
        color: #000000;
        font-family: Courier,Arial, SansSerif;
        font-size: 12pt;
        background-color: white;

        /**
        Alle angaben beim drucken fix (pt oder cm)
         */
    }
}

/**
Layout für Behinderte
 */
@media braille,speech {
    body{
        display: block;
    }
    
}