.uebersicht{
    background-image: url("imageSrc/Hintergrund.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
}

.container{
    width: 100%;
    height: 100%;
    font-family: "Courier", "Arial";
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows: 15% 80% 5% ;
    color: white;
}

header{
    top: auto;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
}
.besFrame{
    grid-column-start: 1;
    grid-column-end: 2;
}

.baeckFrame{
    grid-column-start: 2;
    grid-column-end: 3;
}

.fahrFrame{
    grid-column-start: 3;
    grid-column-end: 4;
}

input[type=submit]{
    width: 100%;
    height: 10%;
    background-color: dimgray;opacity: 0.6;
    color: white;
    border-bottom: white;
    font-family: Courier;
    font-size: 150%;
}
footer{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}
