@media (orientation: landscape) {
    body{
        background-image: url("imageSrc/Hintergrund.jpg");
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        margin: 0;
    }
}
@media (orientation: portrait){
    body{
        background-image: url("imageSrc/Hintergrund_port.jpg");
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    header{
        font-size: 150%;
    }
    .mainFrame{
        font-size: 200%;
    }
    footer{
        font-size: 115%;
    }
}

.container{
    font-family: "Courier", "Arial";
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 80% 5%;
    color: white;
}
header{
    text-align: center;
}
.mainFrame{
    overflow-y: scroll;
    scrollbar-width: thin;
    margin-right: 2%;
    font-weight: bold;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 6px rgb(105,105,105);
    background: dimgray;
}

footer{
    text-align: center;
    color: white;
}