
body{
    background-color: dimgray;
    font-family: "Courier" , "Arial","sans-serif";
    overflow: hidden;
}

@media (orientation: portrait) {
    .personalData{

    }
}

@media (orientation: landscape) {
    header{
        position: fixed;
        top: 0;
        width: 100%;
    }
    nav {
        position: relative;
        top: 5.5rem;

    }
    a{
        background-color: white ;opacity: 0.5;
        border: black;
        border-style: solid;
        padding: 0.5rem;
        color: black;
        border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
        text-decoration: unset;
        font-weight: bold;

    }
    a:hover{
        background-color: deepskyblue;
        padding: 1rem;
        font-size: 1.5em;
    }
    a:visited{

    }
    .personalData{
        margin-top: 10rem;
        width: 30rem;

    }
    .information{
        margin-top: 10rem;
        margin-right: 10rem;
        width: 60rem;
        float: right;
        text-align: justify;
        margin-left: 2rem;
    }

    footer{
        clear: both;
        position: fixed;
        bottom: 0;
        text-align: center;
    }
}

@media print {

}