/**
Layout für smartphone
 */
@media (orientation: portrait) {
    header{
        text-align: center;

    }
}

/**
Layout für Desktop
 */
@media (orientation: landscape) {
    header {
        text-align: left;

    }
}

/**
Layout zum drucken
 */
@media print {

}

/**
Layout für Behinderte
 */
@media braille,speech {

}